Repository Materials-Consortia/optimade-validator-action: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, align-python-version

.pre-commit-config.yaml:

# pre-commit.ci configuration
ci:
  autofix_prs: false
  autoupdate_branch: 'master'
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: monthly
  # Both of these require external Python libs to be installed in the environment
  skip: [pylint, align-python-version]
  submodules: false

# pre-commit hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-yaml
    name: Check YAML
  - id: check-toml
    name: Check TOML
  - id: destroyed-symlinks
  - id: end-of-file-fixer
  - id: requirements-txt-fixer
    name: Fix requirements.txt
    files: ^requirements\.txt$
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]
  - id: check-executables-have-shebangs
  - id: check-shebang-scripts-are-executable

- repo: https://github.com/psf/black
  rev: 24.4.2
  hooks:
  - id: black

- repo: https://github.com/PyCQA/bandit
  rev: '1.7.8'
  hooks:
  - id: bandit
    args: [-r]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.10.0
  hooks:
  - id: mypy

- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: pylint
    language: python
    types: [python]
    require_serial: true
  - id: align-python-version
    name: Align Python Version
    entry: invoke
    args: [check-dockerfile-python-version]
    language: system
    files: ^(Dockerfile|.github/workflows/ci_tests.yml|pyproject.toml)$
    pass_filenames: false
    description: 'Check that the Python version in the Dockerfile, GitHub Actions, and pyproject.toml are aligned.'

Release v2.8.0
  CHANGELOG.md
  README.md
Due: none

Bump Python to 3.10
  .github/workflows/cd_release.yml
  .github/workflows/ci_tests.yml
  Dockerfile
  pyproject.toml
Due: align-python-version

Try to fix setting the Python version
  .github/workflows/ci_tests.yml
Due: align-python-version

Bump Python to 3.10 (#160)
  .github/workflows/cd_release.yml
  .github/workflows/ci_tests.yml
  Dockerfile
  pyproject.toml
Due: align-python-version

Release v2.9.0
  CHANGELOG.md
  README.md
Due: none

Handle leading and trailing slashes in URL
  action.yml
  entrypoint.sh
  helper.py
Due: pylint

Use the BATS GitHub action
  .github/workflows/ci_tests.yml
  tests/test_fixtures.bash
Due: align-python-version

Use bats_load_library instead
  tests/test_fixtures.bash
Due: none

Try overriding DOCKER_BATS_WORKDIR
  tests/test_fixtures.bash
Due: none

Also fix that env in the setup_suite.bash file
  tests/setup_suite.bash
Due: none

Ensure the minimum supported Py version is used for BATS
  .github/workflows/ci_tests.yml
Due: align-python-version

Create custom things in the /tmp dir
  .github/workflows/ci_tests.yml
  Dockerfile
  entrypoint.sh
  tests/Dockerfile
Due: align-python-version

Ensure virtualenv is installed
  .github/workflows/ci_tests.yml
Due: align-python-version

Optimize Imitate Action's Dockerfile step
  .github/workflows/ci_tests.yml
Due: align-python-version

Remove docker warning about legacy key value notation
  tests/Dockerfile
Due: none

Use the BATS GitHub action (#165)
  .github/workflows/ci_tests.yml
  Dockerfile
  entrypoint.sh
  tests/Dockerfile
  tests/setup_suite.bash
  tests/test_fixtures.bash
Due: align-python-version

Update Dockerfile
  Dockerfile
Due: align-python-version

Update Docker tag regex in invoke task
  tasks.py
Due: pylint

Update optimade version in tests to 1.2
  .github/utils/ci_helper.py
  .github/workflows/ci_tests.yml
  tests/test_all_versioned_paths.bats
  tests/test_as_type.bats
Due: pylint, align-python-version

Release v2.10.0
  CHANGELOG.md
  README.md
Due: none
